* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  border: none;
  background: none;
}

/* Spacing */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Typography */

.logo {
  font-size: 4.6rem;
  font-weight: 600;
  padding-top: 5rem;
}

.headline {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.subhead {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 3rem;
}

.regular {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.description-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem;
}