* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Spacing */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

/* Typography */

.logo {
  font-size: 4rem;
}

.headline {
  font-size: 3rem;
}

.subhead {
  font-size: 2rem;
}

.regular {
  font-size: 1.4rem;
}